<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Background Image Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <style>
    body {
      background-color: rgba(250, 247, 247, 0.99);
      background-image: url("/fon.jpg");
      background-repeat: no-repeat;
      color: #172940;
    }
  </style>
</head>
<body>
<div class="container" style="height: 1080px">
  <div class="row justify-content-end custom-form">
    <div> <!-- Added the "custom-form" class here -->
      <div class="content-center d-flex justify-content-center"  style="margin-top: -100px;">
        <img  width="100" height="85" src="/logo.svg">
        <br>
      </div>
      <div class="content-center d-flex justify-content-center" style="margin-top: 100px;">
      <strong style="font-size: 36px">Вхід</strong>
      <br><br>
      </div>
      <form id="authenticationForm" th:action="@{/authentication}" method="post">
        <input name="username" class="form-control" style="margin-top:10px;" placeholder="Email" required autofocus="autofocus"/>
        <br>
        <input name="password"  class="form-control" type="password" placeholder="Password" required autofocus="autofocus" />
        <button type="submit" class="btn" style="font-size: 12px; margin-top:10px; background-color: #172940;color: white">
          <b>Войти</b>
        </button>
        <button class="btn btn-light" type="button" style="scale: 100%; margin-top:10px;" id="registration">
          <strong style="color: #172940">Нема аккаунту?</strong>
        </button>
        <br>
      </form>
      <div class="content-center d-flex justify-content-center align-items-end">
      <a th:href="@{/oauth2/authorization/google}" class="btn" style="font-size: 12px; margin-top:5px; background-color: #ea3b15;color: white" role="button" aria-pressed="false">
        <b>Google</b>
      </a>
      </div>
      <br>
      <div th:if="${param.errorNoAuthenticationUser}">
        <div class="alert alert-danger">
          Please log in
        </div>
      </div>
      <div th:if="${param.error}">
        <div class="alert alert-danger">
          Either password or <nav></nav>
          Email entered is incorrect!</div>
      </div>
    </div>
  </div>
</div>

<div id="notificationError" class="notification slow"  style="background-color: rgba(255,0,0,0.72);">
  <span class="notification-text" id="error"></span>
  <ion-icon name="construct-outline" class="notification-icon"></ion-icon>
</div>

</body>
<script>
  document.getElementById('registration').addEventListener('click',function() {
    window.location.href = '/registration';
  });
  /*document.getElementById('authenticationForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const form = event.target;
    const formData = {
      username: form.email.value,
      password: form.password.value
    };

    fetch('/authentication', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
            .then(response => {
               if(!response.ok) {
                response.text().then( error => {
                  const notificationChange = document.getElementById('notificationError');
                  const er = document.getElementById('error');
                  er.innerText=error;
                  notificationChange.style.display = 'block';
                  notificationChange.classList.add('show');

                  setTimeout(() => {
                    notificationChange.style.display = 'none';
                    notificationChange.classList.remove('show');

                    localStorage.removeItem('showNotification');
                  }, 8000);
                })
              }

            })
  });*/
</script>
</html>


