<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Background Image Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <style>
    body {
      background-color: rgba(250, 247, 247, 0.99);
      background-image: url("/fon.jpg");
      background-repeat: no-repeat;
      color: #172940;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row justify-content-end custom-form">
    <div> <!-- Added the "custom-form" class here -->
      <img  width="100" height="85" src="/logo.svg">
      <br>
      <strong style="font-size: 36px">Вхід</strong>
      <br>
      <form id="authenticationForm">
        <div class="form-group">
          <input type="text" class="form-control" id="login" name="login" placeholder="Логин">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Пароль" size="15px">
        </div>
        <button type="submit" class="btn" style="font-size: 12px; background-color: #172940;color: white">
          <b>Войти</b>
        </button>
        <button class="btn btn-light" type="button" style="scale: 100%" id="registration">
          <strong style="color: #172940">Нема аккаунту?</strong>
        </button>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
<div id="notificationError" class="notification slow"  style="background-color: rgba(255,0,0,0.72);">
  <span class="notification-text" id="error"></span>
  <ion-icon name="construct-outline" class="notification-icon"></ion-icon>
</div>

</body>
<script>
  document.getElementById('registration').addEventListener('click',function() {
    window.location.href = '/registration';
  });



  document.getElementById('authenticationForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const form = event.target;
    const formData = {
      login: form.login.value,
      password: form.password.value
    };

    fetch('/users/authentication', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
            .then(response => {

              if(response.ok) {
                response.text().then(id=>{
                  window.location.href='/home?id='+id;
                })
              } else {
                response.text().then( error => {
                  const notificationChange = document.getElementById('notificationError');
                  const er = document.getElementById('error');
                  er.innerText=error;
                  notificationChange.style.display = 'block';
                  notificationChange.classList.add('show');

                  setTimeout(() => {
                    notificationChange.style.display = 'none';
                    notificationChange.classList.remove('show');

                    localStorage.removeItem('showNotification');
                  }, 8000);
                })
              }

            })
  });
</script>
</html>


