
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASKMANAGER</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/ru.js"></script>
  <style>
    body {
      overflow-x: hidden;
      background-color: #f8f8f8 !important;
    }
    .card {
      border: none;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .blinking-event {
      animation: blink 1s infinite alternate;
      position: relative;
      background-color: transparent; /* Сделаем фон события прозрачным */
    }

    @keyframes blink {
      0%, 100% {
        box-shadow: 0 0 10px rgba(50, 194, 0, 0.01); /* Тень */
      }
      100%{
        box-shadow: 0 0 10px rgb(50, 194, 0); /* Тень */
      }
    }
    /* Общие стили для полосы прокрутки */
    ::-webkit-scrollbar {
      width: 8px; /* Ширина полосы прокрутки */
    }

    /* Стили для трека (основного контейнера) полосы прокрутки */
    ::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Цвет фона трека */
    }

    /* Стили для "бегунка" (самой полосы прокрутки) */
    ::-webkit-scrollbar-thumb {
      background-color: #888; /* Цвет бегунка */
      border-radius: 6px; /* Скругление углов бегунка */
    }

    /* Стили для ползунка в режиме наведения (hover) */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #555; /* Цвет бегунка при наведении */
    }
    .blinking-event::before {
      content: "Ваша задача";
      position: absolute;
      top: -32px; /* Расстояние над событием */
      left: 50%;
      background-color: #32c200; /* Цвет фона текста */
      color: #faf7f7; /* Цвет текста */
      padding: 2px 2px; /* Отступы вокруг текста */
      transform: translateX(-50%); /* Центрирование текста по горизонтали */
      border-radius: 4px; /* Закругленные углы текста */
    }

  </style>
</head>
<body>

<input id="groupId" type="hidden" th:value="${groupId}">
<input id="mode" type="hidden" th:value="${mode}">
<input id="currentUserId" type="hidden" th:value="${currentUserId}">
<input id="username" type="hidden" th:value="${username}">
<input id="autoOpenTaskId" type="hidden" th:value="${autoOpenTaskId}">

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check2" viewBox="0 0 16 16">
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
  <symbol id="circle-half" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
  </symbol>
  <symbol id="moon-stars-fill" viewBox="0 0 16 16">
    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
  </symbol>
  <symbol id="sun-fill" viewBox="0 0 16 16">
    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
  </symbol>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">

  <symbol id="home" viewBox="0 0 16 16">
    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
  </symbol>
  <symbol id="speedometer2" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"></path>
    <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"></path>
  </symbol>
  <symbol id="table" viewBox="0 0 16 16">
    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"></path>
  </symbol>
  <symbol id="people-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
  </symbol>
  <symbol id="grid" viewBox="0 0 16 16">
    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"></path>
  </symbol>
</svg>

<div class="row">
  <div class="col-md-1">
    <div class="card d-flex flex-column flex-shrink-0 bg-body-tertiary justify-content-center" style="width: 11.5rem; height: 100%;">
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
          <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Icon-only">
            <img  width="150" height="150" src="/logo.svg">
            <span class="visually-hidden">Icon-only</span>
          </a>
          <hr>
        </li>
        <li>
          <a th:href="@{/home/{username}(username=${username})}" class="my-btn">
            <svg class="bi pe-none" width="24" height="24" role="img"><use xlink:href="#home"></use></svg>
          </a>
          <hr>
        </li>
        <div th:if="${mode == mode.ROLE_ADMIN}">
        <li>
          <button class="btn rounded-pill px-2 my-btn" id="addedSearchDeleteUsers">
            <ion-icon name="body-outline" style="font-size: 1.5rem; vertical-align: middle;"></ion-icon>
          </button>
          <hr>
        </li>
        <li>
          <button class="btn rounded-pill px-2 my-btn" id="addedNewOwner">
            <ion-icon name="person-add-outline" style="font-size: 1.5rem; vertical-align: middle;"></ion-icon>
          </button>
          <hr>
        </li>
        </div>
        <li>
          <button class="btn rounded-pill px-2 my-btn" id="historyGroup">
            <ion-icon name="file-tray-full-outline" style="font-size: 1.5rem; vertical-align: middle;"></ion-icon>
          </button>
          <hr>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10" style="margin-left: 50px">
    <div class="card mt-4" style="max-width: 100%;">
      <div class="card-header" style="background-color: #ff5333;color: rgb(248,245,245)">
        <div class="text-start">
          <h3 th:text="'Група:' + ${groupName}"> GroupName </h3>
          <h3 th:text="'Ви:' + ${username}"> UserLogin </h3>
          <h3 th:text="'Ваша роль:' + ${mode}"> Role </h3>
          <div th:if="${mode != mode.ROLE_ADMIN}">
            <form id="leaveTheGroup">
              <input type="hidden" name="idUser" th:value="${currentUserId}">
              <input type="hidden" name="idGroup" th:value="${idGroup}">
              <button class="btn btn-danger rounded-pill px-2 my-btn " type="submit">
                Покинути групу
              </button>
            </form>
          </div>
        </div>
        <h1 class="text-center">MyTaskManager</h1>
      </div>
      <div class="card-body">
        <div class="row justify-content-end">
          <div class="col-md-12 mb-2">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 5vh"></div>
  </div>
</div>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="sidebars.js"></script>
</body>

<div th:if="${mode == mode.ROLE_ADMIN}">
<div class="modal fade" id="eventModalNew" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3">
      <div id="taskForm" style="display: block;">
        <h3 class="mb-3">Створити задачу</h3>
        <form id="createTaskForm">
          <div class="form-group">
            <label for="title">Заголовок:</label>
            <input type="text" class="form-control my-btn-2" id="title" name="title">
          </div>
          <div class="form-group">
            <label for="description">Опис:</label>
            <textarea class="form-control my-btn-2" id="description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="dateOfStart">Дата початку:</label>
            <input type="datetime-local" class="form-control my-btn-2" id="dateOfStart" name="dateOfStart">
          </div>
          <div class="form-group">
            <label for="dateOfEnd">Дата закінчення:</label>
            <input type="datetime-local" class="form-control my-btn-2" id="dateOfEnd" name="dateOfEnd">
          </div>
          <hr>
            <div class="form-group">
              <select id="user_selected" class="form-select my-btn-2" aria-label="Default select example">
                <option selected disabled>Выберіть користувача</option>
                &lt;!&ndash; Проходите по пользователям и заполняйте варианты выпадающего списка &ndash;&gt;
                <option th:each="user : ${usersInGroup}" th:value="${user.id}">
                  <span>
                  <strong th:text="${user.name}"></strong>
                  <small th:text="'('+${user.username}+')'"></small>
                </span>
                </option>
              </select>
            </div>
          <hr>
          <div id="drop-zone-create" class="drop-zone">
            <span id="text-create">Натисніть або перетягніть файли.</span>
          </div>
          <br>
          <div id="selected-files-create-info"></div>
          <input type="hidden" id="selectedUserId" name="selectedUserId">
          <input type="submit" value="Створити" id="createButton" class="btn btn-primary my-btn" data-bs-dismiss="modal">
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade rounded" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div id="head" class="card-header rounded">
        <div class="d-flex align-items-center">
          <h5 class="modal-title m-3 me-2" id="eventModalLabel" style="font-size: 24px">Інформація про завдання</h5>
          <ion-icon class="fs-1" name="clipboard-outline" style="margin-left: auto;"></ion-icon>
        </div>
        <div class="d-flex align-items-center" style="margin-right: 10px;">
          <button class="btn rounded-pill px-2 my-btn" type="button" style="background-color: rgba(0,0,0,0.37);color: white;" data-bs-dismiss="modal">
            <ion-icon name="close" style="font-size: 1.7rem; vertical-align: middle;"></ion-icon>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 border-end border-2">
        <div class="d-flex align-items-center">
          <ion-icon class="fs-1 me-2" name="bookmark-sharp"></ion-icon>
          <p class="modal-title m-0" id="eventTitle" style="align-self: center; font-size: 18px; font-weight: bold;">Заголовок</p>
        </div>
        <hr>
        <div class="d-flex align-items-center">
          <ion-icon class="fs-1 me-2" name="document-text-outline"></ion-icon>
          <p class="modal-title m-0" id="eventDescription" style="align-self: center;">Опис</p>
        </div>
        <hr>
        <div class="d-flex align-items-center">
          <ion-icon class="fs-1 me-2" name="document-text-outline"></ion-icon>
          <div style="display: flex; flex-direction: column;">
            <small class="mt-n1">Завдання призначено:</small>
            <p class="modal-title m-0" id="eventUser" style="align-self: left; font-size: 18px; font-weight: bold;"></p>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center">
          <ion-icon class="fs-1 me-2" name="calendar-number-outline"></ion-icon>
          <p class="modal-title m-0 font-weight-bold" id="eventDateStart" style="align-self: center; font-size: 18px; font-weight: bold;">Дата початку</p>
        </div>
        <hr>
        <div class="d-flex align-items-center">
          <ion-icon id = 'icon' class="fs-1 me-2" name="trending-up-outline"></ion-icon>
          <p class="modal-title m-0 font-weight-bold" id="eventStatus"
             style="align-self: center; font-size: 18px; font-weight: bold;"> Статус </p>
        </div>
        <hr>
        <div class="d-flex align-items-center">
          <ion-icon class="fs-1 me-2" name="calendar-number-outline"></ion-icon>
          <p class="modal-title m-0 font-weight-bold" id="eventDateEnd" style="align-self: center; font-size: 18px; font-weight: bold;">Дата завершення</p>
        </div>
        <hr>
        <div class="d-flex gap-2 justify-content-left">
          <button class="btn rounded-pill px-3 my-btn" type="button" style="background-color: #ff3a01;color: white;" id="editButton"> Редагувати </button>
          <button class="btn rounded-pill px-3 my-btn" type="button" style="background-color: #ff3a01;color: white;display: none" id="editButtonApply"> Прийняти зміни </button>
          <button class="btn rounded-pill px-2 my-btn" type="button" style="background-color: #65f346;color: white;" id="completedButton" data-bs-dismiss="modal">
            <ion-icon name="checkmark-outline" style="font-size: 1.7rem; vertical-align: middle;"></ion-icon>
          </button>
          <button class="btn btn-danger rounded-pill px-2 my-btn" type="button" id="deleteButton" data-bs-dismiss="modal">
            <ion-icon name="trash-outline" style="font-size: 1.7rem; vertical-align: middle;"></ion-icon>
          </button>
        </div>
          </div>
          <div class="col-md-6">
        <div class="d-flex align-items-center">
          <p class="modal-title m-0" style="align-self: center; font-size: 18px; font-weight: bold;">Файли які додав власник</p>
        </div>
        <div id="files-owner"></div>
        <hr>
        <div class="d-flex align-items-center">
          <p class="modal-title m-0" style="align-self: center; font-size: 18px; font-weight: bold;">Файли які додав користувач</p>
        </div>
        <div id="files-user"></div>
            <hr>
            <div id="drop-zone-completed" class="drop-zone my-btn-2">
              <span id="text">Натисніть або перетягніть файли</span>
            </div>
            <div id="selected-files-info"></div>
            <hr>
            <div th:if="${mode == mode.ROLE_ADMIN}">
            <div class="d-flex gap-2 justify-content-left">
              <button class="btn rounded-pill px-3 my-btn" type="button" style="background-color: #4bb3e0;color: white;" id="editFilesButton"> Змінити файли </button>
              <button class="btn rounded-pill px-3 my-btn" type="button" style="background-color: #4bb3e0;color: white; display: none" id="editFilesButtonCompletedChanges"> Прийняти зміни </button>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<small class="modal-title m-0" id="emptyFilesOwner" style="align-self: center;">Власник не додав файлів</small>-->
<!--<small class="modal-title m-0" id="emptyFilesUser" style="align-self: center;">Користувач не додав файлів</small>-->

<div th:if="${mode == mode.ROLE_ADMIN}">
  <div class="modal fade" id="eventModalForUsers" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content p-3">
        <div class="row">
          <h3 class="modal-content p-3 text-center" style="display: flex;">Пошук користувачів</h3>
          <div style="display: flex">
            <div class="col-md-6" style="display: block; margin-right: 110px">
              <h6 class="modal-content p-3 text-center" style="display: flex;">Користувачі у групі</h6>
              <div th:if="${usersInGroupWithoutOwners.isEmpty()}">
                <strong>В группі не має інших людей</strong>
              </div>
              <div th:unless="${usersInGroupWithoutOwners.isEmpty()}" th:each="deleteUser : ${usersInGroupWithoutOwners}" style="display: flex">
                <div class="input-group flex-nowrap" style="display: block;">
                  <form th:method="DELETE" id="deleteForm">
                    <input type="hidden" name="_method" value="DELETE">
                    <div class="row">
                      <div class="col-md-4" >
                        <small th:text="${deleteUser.name}"></small><nav></nav>
                        <strong th:text="${deleteUser.username}"></strong>
                      </div><div class="col-md-2"></div>
                      <input type="hidden" th:value="${deleteUser.id}" name="idUser">
                      <div class="col-md-6">
                        <button class="btn my-btn" type="submit" style="background-color: #f53030;color: white;"> Видалити с групи </button>
                      </div>
                    </div>
                    <hr>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h6 class="modal-content p-3 text-center" style="display: flex;">Пошук</h6>
              <div style="color: #172940; display: block">
                <form action="/users/search" method="get" id="searchForm">
                  <div class="input-group flex-nowrap">
                    <input type="text" id="searchLogin" name="searchLogin" class="form-control my-btn-2" placeholder="Пошук користувача"
                           aria-label="Название группы" aria-describedby="addon-wrapping">
                    <button class="btn my-btn" type="submit" style="background-color: #f37427;color: white;"> Пошук </button>
                  </div>
                </form>
                <hr>
                <div id="search-output">
                  <div class="input-group flex-nowrap" th:each="addedUser:${users}">
                    <form th:method="PUT" id="addedForm">
                      <strong th:text="${addedUser.email}" th:id="'login' + ${addedUser.id}"></strong>
                      <input type="hidden" th:value="${addedUser.id}" name="addedUserId">
                      <input type="hidden" th:value="${groupId}" name="idGroup">
                      <button class="btn my-btn" type="submit" style="background-color: #f37427;color: white;"> Додати в группу </button>
                      <hr>
                    </form>
                  </div>
                  <span>
              <form action="/home" id="backFormUser" method="get" style="display: inline-block;">
                <div th:if="${currentPage != null and currentPage > 0}">
                  <input id="backPageIdUser" name="page" th:value="${currentPage - 1}" type="hidden">
                  <button class="btn rounded-pill px-2 my-btn" type="submit" style="background-color: #0d6efd;color: white;">
                    <ion-icon name="chevron-back-outline" style="font-size: 1.5rem; vertical-align: middle;"></ion-icon>
                  </button>
                </div>
              </form>
            </span>
                  <form action="/home" id="nextFormUser" method="get" style="display: inline-block;">
                    <div th:if="${currentPage != null and currentPage != totalPages - 1 }" id="pagination">
                      <input id="nextPageIdUser" name="page" th:value="${currentPage != null ? currentPage + 1 : 1}"
                             type="hidden">
                      <button class="btn rounded-pill px-2 my-btn" type="submit" style="background-color: #0d6efd;color: white;">
                        <ion-icon name="chevron-forward-outline" style="font-size: 1.5rem; vertical-align: middle;"></ion-icon>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div th:if="${mode == mode.ROLE_ADMIN}">
  <div class="modal fade" id="eventModalAddNewOwner" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-3">
        <div style="display: block;">
          <h3 class="mb-3">Додати нового власника до групи</h3>
          <form id="addNewOwnerForm">
            <div class="form-group">
              <select id="owner_selected" class="form-select my-btn-2" aria-label="Default select example">
                <option selected disabled>Виберіть користувача</option>
                <option th:each="user : ${usersInGroupWithoutOwners}" th:value="${user.id}">
                  <span>
                  <strong th:text="${user.name}"></strong>
                  <small th:text="'('+${user.username}+')'"></small>
                </span>
                </option>
              </select>
            </div>
            <br>
            <input type="hidden" id="selectedOwnerId" name="selectedUserId">
            <input type="submit" value="Додати" id="addNewOwnerButton" class="btn btn-primary my-btn" data-bs-dismiss="modal">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalScrollableTitle">History</h3>
        <button class="btn rounded-pill px-2 my-btn" type="button" style="background-color: #f55a40;color: white;" data-bs-dismiss="modal">
          <ion-icon name="close" style="font-size: 1.7rem; vertical-align: middle;"></ion-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group list-group-flush border-bottom scrollarea">
          <div th:each="history : ${group.getHistories()}">
            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
              <div class="d-flex w-100 align-items-center justify-content-end">
                <small class="fw-bold" th:text="${#temporals.format(history.getSaveAt(), 'yyyy-MM-dd HH:mm:ss')}"></small>
              </div>
              <div class="col-10 small" th:text="${history.getText()}">Text</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="notificationDelete" class="notification fast" style="background-color: rgba(57, 255, 0, 0.4);">
  <span class="notification-text">Завдання успішно видаленно!</span>
  <ion-icon name="checkmark-outline" class="notification-icon"></ion-icon>
</div>

<div id="notificationCompeted" class="notification fast" style="background-color: rgba(57, 255, 0, 0.4);">
  <span class="notification-text">Завдання викнонано!</span>
  <ion-icon name="checkmark-outline" class="notification-icon"></ion-icon>
</div>

<div id="notificationChange" class="notification fast"  style="background-color: rgba(255, 52, 0, 0.4);">
  <span class="notification-text">Завдання зміненно!</span>
  <ion-icon name="construct-outline" class="notification-icon"></ion-icon>
</div>

<div id="notificationErrorTaskCreate" class="notification slow"  style="background-color: rgba(255,0,0,0.72);">
  <span class="notification-text" id="errorTask"></span>
  <ion-icon name="construct-outline" class="notification-icon"></ion-icon>
</div>

<div id="notificationCreate" class="notification fast" style="background-color: rgba(0, 108, 192, 0.4);">
  <span class="notification-text">Завдання створено!</span>
  <ion-icon name="save-outline" class="notification-icon"></ion-icon>
</div>

<div id="notificationLoad" class="notification fast" style="background-color: rgba(0, 108, 192, 0.4);">
  <span class="notification-text">Йде загрузка...</span>
  <ion-icon name="save-outline" class="notification-icon"></ion-icon>
</div>

<div class="modal fade" id="eventModalLoading" tabindex="-1" role="dialog" aria-labelledby="eventModalLoading" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3">
      <div  style="display: block;">
        <h3 class="mb-3">Загрузка...</h3>
      </div>
    </div>
  </div>
</div>
<script>
  let ownerId = parseInt(document.getElementById("currentUserId").value, 10);

  document.addEventListener("DOMContentLoaded", function () {
    const leaveTheGroup = document.getElementById('leaveTheGroup');


    leaveTheGroup.addEventListener("submit", function (event) {
      event.preventDefault();

      const idUser = leaveTheGroup.querySelector("input[name=idUser]").value;
      const idGroup = leaveTheGroup.querySelector("input[name=idGroup]").value;

      fetch(`/groups/${idGroup}/${idUser}/leave`, {
        method: "PUT"
      }).then(response=>{
        if(response.ok){
          response.text().then(id=>{
            window.location.href="/home?id="+id;
          })
        }
      })
    });
  });

  document.getElementById("historyGroup").addEventListener("click",function (){
    const eventModal = document.getElementById('historyModal');
    $(eventModal).modal('show');
  });

  // Обработчик изменения выбранного пользователя
  document.getElementById("user_selected").addEventListener("change", function() {
    const selectedUserId = this.value;
    console.log('Выбран пользователь ' + selectedUserId);
    document.getElementById("selectedUserId").value = selectedUserId;
  });
  document.getElementById("owner_selected").addEventListener("change", function() {
    document.getElementById("selectedOwnerId").value = this.value;
  });

  document.getElementById("addedSearchDeleteUsers").addEventListener("click",function (){
    const eventModal = document.getElementById('eventModalForUsers');
    $(eventModal).modal('show');
  });

  document.getElementById("addedNewOwner").addEventListener("click",function (){
    const eventModal = document.getElementById('eventModalAddNewOwner');
    $(eventModal).modal('show');
  });

  document.addEventListener('DOMContentLoaded', function() {
    if (localStorage.getItem('showModal') === 'true') {
      const eventModal = document.getElementById('eventModalForUsers');
      $(eventModal).modal('show');
      localStorage.removeItem("showModal");
    }
  });


  document.addEventListener("DOMContentLoaded", function () {
    const deleteForms = document.querySelectorAll("form#deleteForm");

    deleteForms.forEach((form) => {
      form.addEventListener("submit", function (event) {
        event.preventDefault();

        const idUser = form.querySelector("input[name=idUser]").value;

        fetch(`/groups/${idUser}/${groupId}`, {
          method: "DELETE"
        })
                .then((response) => {
                  if (response.ok) {
                    localStorage.setItem('showModal','true');
                    window.location.reload();
                  }
                });
      });
    });
  });
  document.getElementById('searchForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Предотвращаем отправку формы

    const searchLogin = document.getElementById("searchLogin").value;



    fetch(`/users/search?login=${searchLogin}&idGroup=${groupId}`)
            .then(response => response.json())
            .then(data => {
              // Обновление содержимого search-output
              const pagination = document.getElementById('nextFormUser');
              const searchOutput = document.getElementById("search-output");
              searchOutput.innerHTML = ''; // Очистка содержимого контейнера
              console.log(data);
              data.content.forEach(user => {

                const addedUserToGroupForm = document.createElement('form');
                addedUserToGroupForm.method = 'PUT';
                addedUserToGroupForm.action = `/groups/${groupId}/${user.id}`;


                const userDiv = document.createElement("strong");
                userDiv.textContent = user.email;

                const addButton = document.createElement("button");
                addButton.type = "submit";
                addButton.textContent = "Добавить в группу";
                addButton.className = "btn"; // Используйте классы Bootstrap или свои стили
                addButton.style="background-color: #f37427;color: white;";


                addButton.addEventListener('click', (event) => {
                  event.preventDefault();
                  fetch(`/groups/${groupId}/${user.id}`, {
                    method: 'PUT',
                    headers: {
                      'Content-Type': 'application/json'
                    }
                  }).then( response=>{
                    if(response.ok){
                      localStorage.setItem("showModal","true");
                      window.location.reload();
                    }
                  })
                          .catch(error => {
                            console.error('Ошибка при выполнении запроса:', error);
                          });
                });

                addedUserToGroupForm.appendChild(userDiv);
                addedUserToGroupForm.appendChild(addButton);
                searchOutput.appendChild(addedUserToGroupForm);

                const hr = document.createElement("hr"); // Добавляем горизонтальную линию
                searchOutput.appendChild(hr);
              });
              searchOutput.appendChild(pagination);
            })
            .catch(error => {
              console.error('Ошибка при выполнении запроса:', error);
            });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const addedForms = document.querySelectorAll("form#addedForm");

    addedForms.forEach((form) => {
      form.addEventListener("submit", function (event) {
        event.preventDefault();

        const addedUserId = form.querySelector("input[name=addedUserId]").value;
        const loginUserElement = document.getElementById('login' + addedUserId);
        const loginUser = loginUserElement.textContent;

        console.log(loginUser);



        fetch(`/groups/${groupId}/${addedUserId}`, {
          method: "PUT"
        }).then((response) => {
          if (response.ok) {
            localStorage.setItem('showModal','true');
            window.location.reload();
          }
        });
      });
    });
  });
  document.addEventListener("submit", function (event) {
    const searchOutput = document.getElementById("search-output");
    // Check if the submitted form is the search form
    if (event.target.id === "nextFormUser") {
      event.preventDefault(); // Prevent the form submission

      const nextPageIdUser = document.getElementById("nextPageIdUser").value;

      fetch(`/${username}/groups/${groupId}?page=${encodeURIComponent(nextPageIdUser)}`)
              .then(response => response.text())
              .then(data => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(data, 'text/html');

                const targetDiv = doc.getElementById('search-output');

                if (targetDiv) {
                  // Очищаем контейнер перед вставкой новых данных
                  searchOutput.innerHTML = '';

                  // Вставляем HTML-содержимое целевого <div> в контейнер
                  searchOutput.innerHTML = targetDiv.innerHTML;

                  // Отображаем контейнер
                  searchOutput.style.display = "block";
                } else {
                  console.error('Целевой <div> не найден.');
                }
              })
              .then(data=>{
                const addedForms = document.querySelectorAll("form#addedForm");

                addedForms.forEach((form) => {
                  form.addEventListener("submit", function (event) {
                    event.preventDefault();

                    const addedUserId = form.querySelector("input[name=addedUserId]").value;
                    const loginUserElement = document.getElementById('login' + addedUserId);
                    const loginUser = loginUserElement.textContent;

                    console.log("User id:" + addedUserId);

                    fetch(`/groups/${groupId}/${addedUserId}`, {
                      method: "PUT"
                    })
                            .then((response) => {
                              if (response.ok) {
                                localStorage.setItem('showModal','true');
                                window.location.reload();
                              }
                            });
                  });
                });
              })
              .catch(error => {
                console.error("Error during search:", error);
              });
    }
  });
  document.addEventListener("submit", function (event) {

    const searchOutput = document.getElementById("search-output");
    // Check if the submitted form is the search form
    if (event.target.id === "backFormUser") {
      event.preventDefault(); // Prevent the form submission

      const backPageIdUser = document.getElementById("backPageIdUser").value;

      fetch(`/${username}/groups/${groupId}?page=${encodeURIComponent(backPageIdUser)}`)
              .then(response => response.text())
              .then(data => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(data, 'text/html');

                const targetDiv = doc.getElementById('search-output');

                if (targetDiv) {
                  // Очищаем контейнер перед вставкой новых данных
                  searchOutput.innerHTML = '';

                  // Вставляем HTML-содержимое целевого <div> в контейнер
                  searchOutput.innerHTML = targetDiv.innerHTML;

                  // Отображаем контейнер
                  searchOutput.style.display = "block";
                } else {
                  console.error('Целевой <div> не найден.');
                }
              })
              .then(data=>{
                const addedForms = document.querySelectorAll("form#addedForm");

                addedForms.forEach((form) => {
                  form.addEventListener("submit", function (event) {
                    event.preventDefault();

                    const addedUserId = form.querySelector("input[name=addedUserId]").value;
                    const loginUserElement = document.getElementById('login' + addedUserId);
                    const loginUser = loginUserElement.textContent;

                    console.log("User id:" + addedUserId);

                    fetch(`/groups/${groupId}/${addedUserId}`, {
                      method: "PUT"
                    })
                            .then((response) => {
                              if (response.ok) {
                                localStorage.setItem('showModal','true');
                                window.location.reload();
                              }
                            });
                  });
                });
              })
              .catch(error => {
                console.error("Error during search:", error);
              });
    }
  });

  document.getElementById('addNewOwnerForm').addEventListener('submit', function() {
    let newOwnerId = parseInt(document.getElementById("selectedOwnerId").value, 10);
    fetch(`/groups/${groupId}/${ownerId}/add_new_owner/${newOwnerId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
    }).then(response=>{
      if(response.ok){
        window.location.reload();
      }
    });
  });

</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/app.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</div>
</html>

