<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKMANAGER></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/ru.js"></script>
    <style>
        body {
            color: #172940;
            overflow-x: hidden;
            overflow-y: hidden;
            background-color: #f8f8f8 !important;
        }
        /* Переопределение стилей для body внутри .scrollable-content */
        .scrollable-content {
            position: relative;
            overflow: visible;
            overflow-y: auto;
        }
        /* Общие стили для полосы прокрутки */
        ::-webkit-scrollbar {
            width: 8px; /* Ширина полосы прокрутки */
        }

        /* Стили для трека (основного контейнера) полосы прокрутки */
        ::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Цвет фона трека */
        }

        /* Стили для "бегунка" (самой полосы прокрутки) */
        ::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет бегунка */
            border-radius: 6px; /* Скругление углов бегунка */
        }

        /* Стили для ползунка в режиме наведения (hover) */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Цвет бегунка при наведении */
        }
        .my-card{
            transform: scale(1);
            transition: transform 0.7s ease-in-out;
        }
        .hidden {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
        }
        @media screen and (max-width: 1000px) {
            body {
                overflow-y: visible; /* Разрешить горизонтальный скроллинг на узких экранах */
            }
            #logo{
                display: none;
                visibility: hidden;
            }
        }

    </style>
    <script>
        const lastClickedPanel = {
            clicked: false,
            lastPanel: '',
            lastButtonId:'',
        };
        function customerLinkClick(showPanelId,buttonId) {
            console.log(lastClickedPanel);
            if(!lastClickedPanel.clicked ){
                lastClickedPanel.clicked = true;
            } else {
                document.getElementById(lastClickedPanel.lastPanel).classList.add("hidden");
                document.getElementById(lastClickedPanel.lastButtonId).style.backgroundColor='#ffffff';
            }
            document.getElementById(showPanelId).classList.remove("hidden");
            document.getElementById(buttonId).style.backgroundColor='#2074f1';
            lastClickedPanel.lastPanel = showPanelId;
            lastClickedPanel.lastButtonId = buttonId;

        }
    </script>
</head>
<body>
<input type="hidden" th:value="${username}" id="username">
<div style="display: none">
    <svg xmlns="http://www.w3.org/2000/svg" id="book" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
    </svg>
</div>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
    </symbol>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
    </symbol>
    <symbol id="speedometer2" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"></path>
        <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"></path>
    </symbol>
    <symbol id="table" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"></path>
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
    </symbol>
    <symbol id="grid" viewBox="0 0 16 16">
        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"></path>
    </symbol>
</svg>
<div style="position: relative; display: flex; justify-content: space-between; margin-top: 20px;">
    <div style="position: relative; display: flex; align-items: start; margin-left: 40px" class="text-start rounded-3 justify-content-start">
        <img id="logo" src="/logo.svg" width="250" height="250" style="position: absolute; top: 0; left: 0;">
    </div>
</div>

    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 15px" class="text-center rounded-3 justify-content-center my-card hidden" id="customerPanel">
        <div class="card mt-4" style="width: 50%">
            <div class="row mx-auto mb-3 mt-4 text-center" style="margin-top: 15px; margin-bottom: 15px">
                <div class="col-md-4">
                    <button class="btn btn-light my-btn" style="width: 125px; height: 125px;" onclick="customerLinkClick('profilePanel','customer')" id="customer">
                        <svg class="bi pe-none" width="40" height="40" role="img"><use xlink:href="#people-circle"></use></svg>
                    </button>
                    <p class="mt-2 small">Профіль</p>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-light my-btn" style="width: 125px; height: 125px;" onclick="customerLinkClick('groupsPanel','groups')" id="groups">
                        <svg class="bi pe-none" width="40" height="40" role="img"><use xlink:href="#table"></use></svg>
                    </button>
                    <p class="mt-2 small">Перейти до групи</p>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-light my-btn" style="width: 125px; height: 125px;" onclick="customerLinkClick('documentationPanel','documentation')" id="documentation">
                        <svg class="bi bi-book" width="40" height="40" role="img"><use xlink:href="#book"></use></svg>
                    </button>
                    <p class="mt-2 small">Документація</p>
                </div>
            </div>
        </div>
    </div>


    <div style="display: flex; align-items: center; justify-content: center;" class="rounded-3 my-card hidden" id="profilePanel">
        <div class="card" style="width: 50%;padding-bottom: 50px">
            <div class="row mx-auto mb-5 mt-5" style="margin-bottom: 15px">
                <div class="d-flex align-items-center">
                    <h4 th:text="'Ласкаво просимо, ' + ${user.name}" style="font-size: 32px; margin-right: auto;">Ласкаво просимо, Name</h4>
                </div>
                <hr>
                <form action="/groups" method="post" id="createGroup">
                    <strong style="font-size: 24px;">Створити свою групу</strong>
                    <div class="input-group flex-nowrap">
                        <input type="hidden" name="ownerId" th:value="${user.id}">
                        <input type="text" name="name" class="form-control" placeholder="Назва групи"
                               aria-label="Назва групи" aria-describedby="addon-wrapping">
                        <button class="btn my-btn" type="submit" style="background-color: #f37427;color: white;"> Створити </button>
                    </div>
                </form>
                <div style="display: flex"></div>
            </div>
        </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;" class="rounded-3 my-card hidden" id="documentationPanel">
        <div class="card scrollable-content" style="width: 50%; max-height:670px; padding: 25px;">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="documentation-content">
                            <!-- Ваш контент здесь -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="display: flex; align-items: center; justify-content: center;" class="rounded-3 my-card hidden" id="groupsPanel">
        <div class="card" style="width: 50%;padding: 25px">
            <div class="row">
                <div style="width: 100%">
                <h4 class="modal-content p-3 text-center" style="display: flex;">Групи</h4>
                    <hr>
                </div>
                    <div style="display: flex; max-height:500px;" class="scrollable-content">
                    <div class="col-md-6 border-end" style="display: block; margin-right: auto;">
                        <h4 class="modal-content p-3 text-center" style="display: flex;">Власні групи</h4>
                        <hr>
                        <div  style="display: flex">
                            <div class="input-group flex-nowrap" style="display: block;">
                                <div th:if="${!user.getOwnGroups().isEmpty()}" th:each="group:${user.getOwnGroups()}">
                                <form id="openGroup" th:action="@{/{username}/groups/{idGroup}(idGroup=${group.id},username=${user.email})}" method="get">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5 mt-2">
                                            <strong th:text="${group.name}">Group 1</strong>
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn my-btn" type="submit" style="background-color: #0d6efd;color: white;"> Перейти у групи </button>
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="modal-content p-3 text-center" style="display: flex;">Інші групи</h4>
                        <hr>
                        <div  style="display: flex">
                            <div class="input-group flex-nowrap" style="display: block;">
                                <div th:each="group:${groups}">
                                    <form th:action="@{/{username}/groups/{idGroup}(idGroup=${group.id},username=${user.email})}">
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-5 mt-2">
                                                <strong th:text="${group.name}">Group 2</strong>

                                            </div>
                                            <div class="col-md-5">
                                                <button class="btn my-btn" type="submit" style="background-color: #0d6efd;color: white;"> Перейти у групи </button>
                                            </div>
                                        </div>
                                        <hr>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


<script type="module">
    import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
    const profilePanel = document.getElementById('profilePanel');
    const groupsPanel = document.getElementById('groupsPanel');
    const documentationPanel = document.getElementById("documentationPanel");




    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('customerPanel').classList.remove("hidden");
    });

    fetch("/documentation", {
        method: 'GET'
    }).then(response => {
        if (response.ok) {
            return response.text();
        } else {
            throw new Error(`Failed to fetch documentation: ${response.status} ${response.statusText}`);
        }
    }).then(markdownContent => {
        // Выводим содержимое Markdown-файла в какой-то элемент на странице
        document.getElementById('documentation-content').innerHTML = marked(markdownContent);
    }).catch(error => {
        console.error(error);
        // Обработка ошибок при загрузке документации
    });

    /*customerLink.addEventListener('click', function() {

        if (!lastClickedPanel.clicked) {
            lastClickedPanel.clicked = true;
            lastClickedPanel.lastLink='customer';
            lastClickedPanel.lastPanel='profilePanel';
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#2074f1';

            profilePanel.style.visibility='visible';
            profilePanel.style.transition = 'transform 1.5s ease-out';
            profilePanel.style.transform = 'translateY(-98vh)';

            // Плавное перемещение вверх блока customerPanel
            customerPanel.style.transition = 'transform 1.5s ease-out';
            customerPanel.style.transform = 'translateY(0)';
        } else {
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#ffffff'
            const last = document.getElementById(lastClickedPanel.lastPanel);
            console.log(last);
            // Возвращение блока в исходное положение

            last.style.transition = 'transform 1.5s ease-out';
            last.style.transform = 'translateY(0)';

            lastClickedPanel.lastPanel='profilePanel';
            lastClickedPanel.lastLink='customer';
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#2074f1';


            profilePanel.style.visibility='visible';
            profilePanel.style.transition = 'transform 1.5s ease-out';
            profilePanel.style.transform = 'translateY(-98vh)';
        }

    });
    groupLink.addEventListener('click', function() {
        if (!lastClickedPanel.clicked) {
            lastClickedPanel.clicked = true;
            lastClickedPanel.lastPanel='groupsPanel';
            lastClickedPanel.lastLink='groups';
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#2074f1';


            groupsPanel.style.visibility='visible';
            groupsPanel.style.transition = 'transform 1.5s ease-out';
            groupsPanel.style.transform = 'translateY(-198vh)';

            // Плавное перемещение вверх блока customerPanel
            customerPanel.style.transition = 'transform 1.5s ease-out';
            customerPanel.style.transform = 'translateY(0)';
        } else {
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#ffffff'
            const last = document.getElementById(lastClickedPanel.lastPanel);
            console.log(last);
            // Возвращение блока в исходное положение
            last.style.transition = 'transform 1.5s ease-out';
            last.style.transform = 'translateY(0)';

            lastClickedPanel.lastPanel='groupsPanel';
            lastClickedPanel.lastLink='groups';
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#2074f1';


            groupsPanel.style.visibility='visible';
            groupsPanel.style.transition = 'transform 1.5s ease-out';
            groupsPanel.style.transform = 'translateY(-198vh)';
        }


    });

    documentationLink.addEventListener('click', function() {

        if (!lastClickedPanel.clicked) {
            lastClickedPanel.clicked = true;
            lastClickedPanel.lastPanel='documentationPanel';
            lastClickedPanel.lastLink='documentation';
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#2074f1';


            documentationPanel.style.visibility='visible';
            documentationPanel.style.transition = 'transform 1.5s ease-out';
            documentationPanel.style.transform = 'translateY(-128vh)';

            // Плавное перемещение вверх блока customerPanel
            customerPanel.style.transition = 'transform 1.5s ease-out';
            customerPanel.style.transform = 'translateY(0)';
        } else
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#ffffff';
            const last = document.getElementById(lastClickedPanel.lastPanel);
            console.log(last);
            // Возвращение блока в исходное положение
            last.style.transition = 'transform 1.5s ease-out';
            last.style.transform = 'translateY(0)';

            lastClickedPanel.lastPanel='documentationPanel';
            lastClickedPanel.lastLink='documentation';
            document.getElementById(lastClickedPanel.lastLink).style.backgroundColor='#2074f1';

            documentationPanel.style.visibility='visible';
            documentationPanel.style.transition = 'transform 1.5s ease-out';
            documentationPanel.style.transform = 'translateY(-128vh)';

    });*/



    document.addEventListener('DOMContentLoaded', function() {
        const createGroup = document.getElementById('createGroup');

        createGroup.addEventListener('submit', function (event) {
            event.preventDefault();
            const ownerId = createGroup.querySelector("input[name=ownerId]").value;
            const nameGroup = createGroup.querySelector("input[name=name]").value;
            let value = document.getElementById("username").value;

            const groupData = {
                name: nameGroup,
                ownerId: ownerId,

            }

            fetch(`/groups`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(groupData)
            }).then(response => {
                if (response.ok) {
                    response.text().then(id => {
                        window.location.href = "/home/"+value;
                    })
                }
            });
        });
    });



    document.addEventListener("DOMContentLoaded", function () {
        const deleteForm = document.getElementById('deleteMyGroup');


        deleteForm.addEventListener("submit", function (event) {
            event.preventDefault();

            const idGroup = deleteForm.querySelector("input[name=idMyGroup]").value;

            fetch(`/groups/${idGroup}`, {
                method: "DELETE"
            }).then(response=>{
                if(response.ok){
                    response.text().then(id=>{
                        window.location.href="/home?id="+id;
                    })
                }
            })
        });

    });

    document.addEventListener("DOMContentLoaded", function () {
        const addedForms = document.querySelectorAll("form#addedForm");

        addedForms.forEach((form) => {
            form.addEventListener("submit", function (event) {
                event.preventDefault();

                const addedUserId = form.querySelector("input[name=addedUserId]").value;
                const idGroup = form.querySelector("input[name=idGroup]").value;
                const loginUserElement = document.getElementById('login' + addedUserId);
                const loginUser = loginUserElement.textContent;

                console.log(loginUser);



                fetch(`/groups/${idGroup}/${addedUserId}`, {
                    method: "PUT"
                })
                    .then((response) => {
                        if (response.ok) {
                            localStorage.setItem('showNotification','true');
                            localStorage.setItem('addedUser','true')
                            window.location.href="/home?id="+idGroup;
                        }
                    });
            });
        });
    });


    document.addEventListener('DOMContentLoaded', function() {
        if (localStorage.getItem('showNotification') === 'true') {
            let notification = null;
            if(localStorage.getItem('deleteUser') !== null) {
                notification = document.getElementById('notificationDeleteUserFromGroup');
            } else {
                notification = document.getElementById('notificationUserAdded');
            }
            notification.style.display = 'block';
            notification.classList.add('show'); // Добавляем класс для анимации

            setTimeout(() => {
                // Скрываем уведомление через 2 секунды
                notification.style.display = 'none';
                notification.classList.remove('show'); // Удаляем класс для анимации

                localStorage.removeItem('showNotification'); // Удаляем флаг из localStorage
                localStorage.removeItem('deleteUser');
                localStorage.removeItem('addedUser');
            }, 4000);
        }
    });
</script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="sidebars.js"></script>
<script src="/app.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

