<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Background Image Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <style>
    body {
      background-color: rgba(250, 247, 247, 0.99);
      background-image: url("/fon.jpg");
      background-repeat: no-repeat;
      color: #172940;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row justify-content-end custom-form">
    <div> <!-- Added the "custom-form" class here -->
      <img  width="100" height="85" src="/logo.svg">
      <br>
      <strong style="font-size: 36px">Реєстрація</strong>
      <br>
      <form id="registrationForm" th:method="POST" th:action="@{/registration}" th:object="${form}">
        <div class="form-group">
          <div th:if="${#fields.hasErrors('name')}">
          <input type="text" class="form-control is-invalid" name="name"  placeholder="Name">
            <div class="invalid-feedback" th:errors="*{name}"></div>
          </div>
          <div th:unless="${#fields.hasErrors('name')}">
            <input type="text" class="form-control" name="name"  placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <div th:if="${#fields.hasErrors('email')}">
            <input type="text" class="form-control is-invalid" name="email" th:value="${oauthEmail}" placeholder="Email">
            <div class="invalid-feedback" th:errors="*{email}"></div>
          </div>
          <div th:unless="${#fields.hasErrors('email')}">
            <input type="text" class="form-control" name="email" th:value="${oauthEmail}" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div th:if="${#fields.hasErrors('password')}">
            <input type="password" class="form-control is-invalid" name="password"  placeholder="Password" size="15px">
            <div class="invalid-feedback" th:errors="*{password}"></div>
          </div>
          <div th:unless="${#fields.hasErrors('password')}">
            <input type="password" class="form-control" name="password"  placeholder="Password" size="15px">
          </div>
        </div>
        <button type="submit" class="btn" style="font-size: 12px; background-color: #172940;color: white">
          <b>Зареєструватись</b>
        </button>
        <button class="btn btn-light" type="button" style="scale: 100%" id="authentication">
          <strong>Є аккаунт?</strong>
        </button>
        <div th:if="${oauthEmail != null}">
          <div class="alert alert-info">
            Please register
          </div>
        </div><!--
        <div class="alert alert-info" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div class="alert alert-info" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <div class="alert alert-info" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
<div id="notificationRegError" class="notification slow"  style="background-color: rgba(255,0,0,0.72);">
  <span class="notification-text" id="error"></span>
  <ion-icon name="construct-outline" class="notification-icon"></ion-icon>
</div>

</body>

<script>

  document.getElementById('authentication').addEventListener('click',function (){
    window.location.href='/authentication';
  });


</script>
</html>