<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${user.login}"></p>
<hr>
Ваша группа
<div th:if="${user.getOwnGroup().isPresent()}">
<form id="openGroup" action="MyGroup" method="get">
    <p th:text="${user.getOwnGroup().get().name}"></p><span>
        <input type="submit" value="Перейти в группу">
    </span>
</form>
</div>
<hr>
Группы в которых вы состоите
<div th:each="group : ${groups}">
    <form th:action="@{/otherGroups/{idGroup}(idGroup=${group.id})}"
          th:method="GET">
        <p th:text="${group.name}"></p>
        <input type="submit" value="Перейти в группу">
    </form>
    <hr>
</div>
<hr>
Добавить в свою группу человека:
<div th:if="${user.getOwnGroup().isPresent()}" th:each="addedUser : ${users}">
    <form th:action="@{/groups/{idGroup}/{addedUserId}(idGroup=${user.getOwnGroup().get().id}, addedUserId=${addedUser.id})}"
          th:method="PUT">
        <p th:text="${addedUser.login}"></p>
        <input type="hidden" name="idGroup" th:value="${user.getOwnGroup().get().id}">
        <input type="hidden" name="addedUserId" th:value="${addedUser.id}">
        <input type="submit" value="Добавить в группу">
    </form>
    <hr>
</div>


Создать свою группу:
<form id="createGroup">
    Название группы: <input type="text" name="name">
    <input type="hidden" name="ownerId" th:value="${user.id}">
    <input type="submit" value="Создать">
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addToGroupForms = document.querySelectorAll(".add-to-group-form");

        addToGroupForms.forEach(form => {
            form.addEventListener("submit", function (event) {
                event.preventDefault();

                const groupId = form.querySelector("input[name='idGroup']").value;
                const userId = form.querySelector("input[name='addedUserId']").value;

                // Выполняем AJAX запрос
                fetch(`/groups/${groupId}/${userId}`, {
                    method: "PUT"
                })
                    .then(response => response.json())
                    .then(data => {
                        // Обрабатываем результат AJAX запроса здесь
                        console.log(data);

                    })
                    .catch(error => {
                        console.error("Произошла ошибка:", error);
                    });
            });
        });
    });


    document.getElementById('createGroup').addEventListener('submit', function(event) {
        event.preventDefault();

        const form = event.target;
        const formData = {
            name: form.name.value,
            ownerId: form.ownerId.value
        };

        fetch('/groups', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => response.json())
            .then(data => {
                if (data && data.id) {
                    window.location.reload();
                }
            })
            .catch(error => {
                window.location.reload();
                console.error('Ошибка при создании пользователя:', error);
            });
    });
</script>
</body>
</html>